@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #9f62f2;
  /* Keep a solid color for borders/focus */
}

@layer utilities {
  .bg-primary-gradient {
    background: linear-gradient(125.07deg, #632ee3 0%, #9f62f2 100%);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: "Inter", sans-serif;
}